/*seccion del cuerpo*/
main{
    padding: 150px 0 0 0;
    width: 100%;
}
#bienvenida{
    scroll-margin-top: 150px;
}
.bienvenida{
    display: flex;
    width: 75%;
    margin: 0 auto;
    /*background: orange;*/
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
#id-img-bienvenida{
    width: 35%;
    height: 374px;
    border-radius: 20px;
    filter: drop-shadow(20px 20px 20px #0C101B);
}
.text-bienvenida{
    /*background: gray;*/
    width: 561px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-bienvenida h1{
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.parrafo-bienvenida{
    font-size: 20px;
    text-align: justify;
    color: white;
    margin: 20px 0;
}
@media screen and (max-width:1024px) {
    .bienvenida{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
    }
    #id-img-bienvenida{
        width: 70%;
    } 
}

@media screen and (max-width:420px){
    .bienvenida{
        width: 100%;
        margin-top: 20px;
    }
    #id-img-bienvenida{
        width: 70%;
    }
    .text-bienvenida{
        /*background: gray;*/
        width: 90%;
    }
    .text-bienvenida h1{
        text-align: center;
    }
}