html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(94.41deg, #405B75 3.1%, #1F252C 95.93%);
    background-attachment: fixed;
    /*background: black;*/
}
header{
    background:linear-gradient(90deg, #405B75 -0.8%, #0C101B 100%);
    position: fixed;
    width: 100%;
    z-index: 999;
}
/*seccion del header*/
.caja{
    display: flex;
    width: 76%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.img-log{
    width: 177px;
    height: 110px;
    margin: 20px 0;
}
nav li{
    display: inline;
    margin: 0 40px 0 0;
    padding: 15px;
}
nav li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
nav li:hover{
    background: black;
    transform: scale(1.2);
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 2px 2px 4px 4px #35506B;
    transition: 500ms;
}
.contenedor-icono-menu{
    cursor: pointer;
    display: none;
}
.contenedor-icono-menu:hover{
    background: black;
    border-radius: 10px;
    padding: 10px;
}
#id-icono-menu{
    width: 92px;
    height: 83px;
}
/*seccion del cuerpo*/
main{
    padding: 150px 0 0 0;
    width: 100%;
}
.bienvenida{
    display: flex;
    width: 75%;
    margin: 0 auto;
    /*background: orange;*/
    justify-content: space-between;
}
#id-img-bienvenida{
    width:  487px;
    height: 374px;
    margin: 74px 40px 0 0;
    border-radius: 20px;
    filter: drop-shadow(20px 20px 20px #0C101B);
}
.text-bienvenida{
    /*background: gray;*/
    width: 561px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-bienvenida h1{
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.parrafo-bienvenida{
    font-size: 20px;
    text-align: justify;
    color: white;
    margin: 20px 0;
}
/*Carrusel de sobre mi*/
#id-sobremi{
    scroll-margin-top: 150px;
}
.seccion-sobremi{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    /*background: linear-gradient(90deg, #405B75 -0.8%, rgba(56, 64, 72, 0) 100%);*/
    /*box-shadow: 10px 10px 4px #0C101B;*/
    border-radius: 20px;
    padding-bottom: 10px;
}
.contenedor-fantasma{
    overflow: hidden;
}
.titulo-seccion{
    /*background: gray;*/
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}
.titulo-seccion h2{
    font-size:45px;
    color:white;
    font-weight: bold;
}
.main-slider{
    width:300%;
    display: flex;
    height: 400px;
    transition: all .5s ease;
    transform: translateX(0%);
}
.main-slider .item-slider{
    width: calc(100%/3);
    height: 100%;
    margin: 0 20px;
    background:  #0C101B;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    display: flex;    
}
.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   /* background-color:gray;*/
}
.punto{
    width: 2em;
    height: 2em;
    margin: 1.5em;
    background: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 10px #0C101B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.punto:hover{
    transform: scale(1.2);
    transition: 400ms;
}
.punto.activo{
    background: orange;
}

.con-img-slider{
    width: 50%;
    height: 100%;
    /*background: orange;*/
    position: relative;
   
}
.con-img-slider img{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px ;
    /*filter: drop-shadow(20px 20px 20px #1F252C);*/
    /*mix-blend-mode:  hard-light;*/
}
.img-derecha{
    z-index: 999;
    position: absolute;
    top: 4.5%;
    left: 4.5%
}
.img-izquierda{
    position: absolute;
    top: 45%;
    right: 4.5%;
}
.con-txt-quijote{
    width: 50%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
.con-txt-quijote p{
    font-size: 20px;
    color: white;
    text-align: justify;
}
.con-txt-musica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: green;*/
}
.con-txt-musica ul{
    margin-top: 20px;
    width: 100%;
    /*background: gold;*/
    display: flex;
    justify-content: space-around;
    height: 20%;
}
.con-txt-musica ul li {
    width: 50%;
    background: #405B75;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    display: flex;
    align-items: center;
    }
.con-txt-musica ul li p{
    font-size: 12px;
    text-align: justify;
    margin: 0 20px;
}
.con-txt-musica ul li img{
    width: 50%;
    height: 85%;
    margin-left: 10px;
}

/*footer*/
footer{
    margin-top: 70px;
    background:linear-gradient(90deg, #405B75 -0.8%, #0C101B 100%);
    width: 100%;
}
.caja-footer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: orange;*/
    margin: 0 auto;
}
.caja-footer p{
    margin-bottom: 20px;
    font-weight: bold;
}
.caja-footer-contenido{
    display: flex;
    justify-content: space-between;
    /*background: blue;*/
    width: 100%;
    padding: 20px 0;

}
.caja-footer-contenido h2{
    color: white;
   /* background: gray;*/
    font-size: 20px;
    font-weight: bolder;

}
/*caja redes sociales */
.footer-redesSociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: green;*/
    width: 33.3%;
    /*border: #0C101B solid 2px;*/
}

.contenedor-redes-sociales{
    margin-top: 20px;
    width: 100%;
    display: grid;
    place-content: center;
   /* background: gray;*/
}
.contenedor-redes-sociales li{
    display: inline;  
    margin: 0 20px;
}
.contenedor-redes-sociales li a img{
    width: 40px;
    height: 40px;
    
}
/*Caja logo*/

.contenedor-logo-footer{
    display: grid;
    place-content: center;
    /*background: green;*/
    width: 33.3%;
   /* border: #0C101B solid 2px;*/
}
.footer-logo{
    width: 177px;
    height: 110px;
}

.contenedor-derechos-autor{
    /*background: green;*/
    /*border: #0C101B solid 2px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1024px) {
    main{
        padding: 400px 0 0 0;
    }
    .caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto ;
    }
    .img-log{
        margin-bottom: 20px;
    }
    nav{
        margin-bottom: 20px;
    }
    nav li{
        margin: 0 5px 0 0;
    }
    .bienvenida{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #id-img-bienvenida{
        margin: 0;
    } 
    /*foooter*/
    .caja-footer{
        width: 80%;
    }
    .contenedor-redes-sociales li{ 
        margin: 0 10px;
    }
    .contenedor-derechos-autor p{
        text-align: center;
    }
}

@media screen and (max-width:420px){
    main{
        padding: 480px 0 0 0;
    }
    .caja{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .caja nav{
        margin: 0 auto;
    }
    .img-log{
        width: 277px;
        height: 210px;
        
    }
    nav{
        margin: 10px auto;
    }
    nav ul{
        display: none;

    }
    nav ul.show{
        display: block;
        margin-top: 25px;
    }
    nav li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    nav li a{
        font-size: 25px;
        margin: 0;

        text-decoration: none;
    }
    .contenedor-icono-menu{
        display: block;
    }
    .bienvenida{
        width: 100%;
    }
    #id-img-bienvenida{
        width: 332px;
        height: 279px;
    }
    .text-bienvenida{
        /*background: gray;*/
        width: 341px;
    }
    /*sobre mi*/

    /*foooter*/
    .caja-footer{
        width: 100%;
    }
    .caja-footer-contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-redesSociales{
        width: 100%;
        margin-top: 20px;
    }
    .contenedor-logo-footer{
        order: -1;/*cambia el orden del contenedor*/
        width: 100%;
    }
    .footer-logo{
        width: 277px;
        height: 210px;
    }
    .contenedor-derechos-autor{
        width: 100%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
}