body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(94.41deg, #405B75 3.1%, #1F252C 95.93%);
    background-attachment: fixed;
    /*background: black;*/
}
header{
    background:linear-gradient(90deg, #405B75 -0.8%, #0C101B 100%);
    position: fixed;
    width: 100%;
    z-index: 999;
}
/*seccion del header*/
.caja{
    display: flex;
    width: 76%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.img-log{
    width: 277px;
    height: 210px;
    margin: 20px 0;
}
nav li{
    display: inline;
    margin: 0 40px 0 0;
    padding: 15px;
}
nav li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
nav li:hover{
    background: black;
    transform: scale(1.2);
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 2px 2px 4px 4px #35506B;
    transition: 500ms;
}
.contenedor-icono-menu{
    cursor: pointer;
    display: none;
}
.contenedor-icono-menu:hover{
    background: black;
    border-radius: 10px;
    padding: 10px;
}
#id-icono-menu{
    width: 92px;
    height: 83px;
}
/*seccion del cuerpo*/
main{
    padding: 250px 0 0 0;
    width: 100%;
}
.bienvenida{
    display: flex;
    width: 75%;
    margin: 0 auto;
    /*background: orange;*/
    justify-content: space-between;
}
#id-img-bienvenida{
    width:  487px;
    height: 374px;
    margin: 74px 40px 0 0;
    border-radius: 20px;
    filter: drop-shadow(20px 20px 20px #0C101B);
}
.text-bienvenida{
    /*background: gray;*/
    width: 561px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-bienvenida h1{
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.parrafo-bienvenida{
    font-size: 20px;
    text-align: justify;
    color: white;
    margin: 20px 0;
}
/*Carrusel de sobre mi*/
.seccion-sobremi{
    width: 75%;
    height: 100px;
    background: orange;
    border: solid black 1px;
}
.seccion-sobremi p{
    margin: 20px  0 0 0;
}
/*footer*/
footer{
    margin-top: 70px;
    background:linear-gradient(90deg, #405B75 -0.8%, #0C101B 100%);
    width: 100%;
}
.caja-footer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: orange;*/
    margin: 0 auto;
}
.caja-footer p{
    margin-bottom: 20px;
    font-weight: bold;
}
.caja-footer-contenido{
    display: flex;
    justify-content: space-between;
   /* background: blue;*/
    width: 100%;
    padding: 20px 0;

}
.caja-footer-contenido h2{
    margin-top: 40px;
    color: white;
   /* background: gray;*/
    font-size: 20px;
    font-weight: bolder;

}
/*caja redes sociales */
.footer-redesSociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: green;*/
    width: 33.33%;
    /*border: #0C101B solid 2px;*/
}

.contenedor-redes-sociales{
    margin-top: 20px;
    width: 100%;
    display: grid;
    place-content: center;
   /* background: gray;*/
}
.contenedor-redes-sociales li{
    display: inline;  
    margin: 0 20px;
}
.contenedor-redes-sociales li a img{
    width: 40px;
    height: 40px;
    
}
/*Caja logo*/

.contenedor-logo-footer{
    display: grid;
    place-content: center;
    /*background: green;*/
    width: 33.33%;
    /*border: #0C101B solid 2px;*/
}
.footer-logo{
    width: 277px;
    height: 210px;
}
/*caja enlaces*/
.footer-enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background: green;*/
    width: 33.33%;
    /*border: #0C101B solid 2px;*/
}

.caja-enlaces-directos{
   /* background: gray;*/
    width: 100%;
    display: grid;
    place-content: center;
    margin-top: 20px;
}
.caja-enlaces-directos ul{
    /*background: pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja-enlaces-directos ul li{
    margin: 10px 0;
}
.caja-enlaces-directos ul li a{
    text-decoration: none;
    color: white;
    
}
@media screen and (max-width:1024px) {
    main{
        padding: 400px 0 0 0;
    }
    .caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto ;
    }
    .img-log{
        margin-bottom: 20px;
    }
    nav{
        margin-bottom: 20px;
    }
    nav li{
        margin: 0 5px 0 0;
    }
    .bienvenida{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #id-img-bienvenida{
        margin: 0;
    } 
    /*foooter*/
    .caja-footer{
        width: 80%;
    }
    .contenedor-redes-sociales li{ 
        margin: 0 10px;
    }
}

@media screen and (max-width:420px){
    main{
        padding: 480px 0 0 0;
    }
    .caja{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .caja nav{
        margin: 0 auto;
    }
    .img-log{
        width: 277px;
        height: 210px;
        
    }
    nav{
        margin: 10px auto;
    }
    nav ul{
        display: none;

    }
    nav ul.show{
        display: block;
        margin-top: 25px;
    }
    nav li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    nav li a{
        font-size: 25px;
        margin: 0;

        text-decoration: none;
    }
    .contenedor-icono-menu{
        display: block;
    }
    .bienvenida{
        width: 100%;
    }
    #id-img-bienvenida{
        width: 332px;
        height: 279px;
    }
    .text-bienvenida{
        /*background: gray;*/
        width: 341px;
    }
    /*foooter*/
    .caja-footer{
        width: 100%;
    }
    .caja-footer-contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-redesSociales{
        width: 100%;
    }
    .contenedor-logo-footer{
        order: -1;/*cambia el orden del contenedor*/
        width: 100%;
    }
    .footer-logo{
        width: 277px;
        height: 210px;
    }

    .footer-enlaces{
        width: 100%;
    }
    .caja-footer-contenido h2{
        margin-top: 40px;
    
    }
}